body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgb(0, 255, 170), #4a90e2);
    color: white;
    text-align: center;
}

.click-me-button{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 4rem;
    color: #4a90e2;
    background-color: rgb(255, 251, 32);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    align-items: center;
}

.click-me-button:hover {
    background: #f06;
    transform: scale(1.1);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}